SECRET_KEY: "replace this with a long random string"
OAUTH:
    consumer_key: ...
    consumer_secret: ...
# SUMMARY_BATCH_LINK: "[[toolforge:quickcategories/batch/{0}/|QuickCategories batch #{0}]]"
# DATABASE:
#     user: ...
#     password: ...
#     db: ...
#     toolsdb: true # on Toolforge; automatically sets host, user, password
#     enable_querytime: true # optional
# EDITGROUPS:
#     commons.wikimedia.org:
#         url: "https://editgroups-commons.toolforge.org/b/QC/{0}/"
#         since: 2021-09-14T00:00:00Z
# READ_ONLY_REASON: "The tool is temporarily read-only for <a href=example.com>reasons</a>. <!-- HTML -->"
# (If you set a read_only_reason, you probably also want to stop the background runner.)
# EXPECTED_DATABASE_ERROR: "The tool is temporarily non-functional for <a href=example.com>reasons</a>. <!-- HTML -->"
# dev note: keys in nested dicts are always lowercased automatically (to work around T374780),
# so code should never look for e.g. config['FOO']['BAR'], only config['FOO']['bar']
