beautifulsoup4
cachetools >= 5.0.0
Flask >= 2.0.3
gunicorn
humanize
MarkupSafe
mwapi >= 0.6.0
mwoauth
mwparserfromhell
pymysql @ git+https://github.com/PyMySQL/PyMySQL@main
PyYAML
requests
requests_oauthlib
toolforge >= 6.1
werkzeug
