<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}QuickCategories{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% endblock head %}
  </head>
  <body>
    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="{{ url_for('index') }}" class="navbar-brand">QuickCategories</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="https://meta.wikimedia.org/wiki/User:Lucas_Werkmeister/QuickCategories" class="nav-link">Documentation</a></li>
        <li class="nav-item"><a href="//tools.wmflabs.org/" class="nav-link">Wikimedia Toolforge</a></li>
        <li class="nav-item"><a href="https://phabricator.wikimedia.org/source/tool-quickcategories/" class="nav-link">Source code</a></li>
      </ul>
      <span class="navbar-text px-2"><a href="{{ url_for('preferences') }}">Preferences</a></span>
      {{ authentication_area() }}
    </nav>
    <main id="main" {% block main_tag_attributes %}class="container mt-3"{% endblock main_tag_attributes %}>
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
