{% extends "base.html" %}
{% block title %}QuickCategories batch #{{ batch.id }}{% if batch.title %} ({{ render_batch_title_text(batch) }}){% endif %}{% endblock %}
{% block main %}
<h1>Batch #{{ batch.id }} by {{ render_local_user(batch.local_user) }}</h1>
{% if batch.title %}
<h2>{{ render_batch_title( batch ) }}</h2>
{% endif %}
{% set background_run = batch.background_runs.get_last() %}
{% set currently_running = background_run and not background_run[1] %}
<p class="lead">
  Targeting <a href="https://{{ batch.domain }}/">{{ batch.domain }}</a>.
  Created {{ batch.created | render_datetime }},
  last updated {{ batch.last_updated | render_datetime }}.
</p>
<p>
  {% set summary = batch.command_records.get_summary() %}
  {% set total = summary.values() | sum %}
  {{ total }}&nbsp;command{% if total > 1 %}s{% endif -%}
  {%- for type, count in summary | dictsort(by='value', reverse=true) -%}
  , {{ count }}&nbsp;{{ type | render_command_record_type }}
  {%- endfor -%}
  .
</p>
{% if background_run %}
<form method="post">
  <p>
    {% if currently_running %}
    Running in background since {{ background_run[0][0] | render_datetime }},
    <a id="reload" href="{{ current_url() }}">reload</a> to refresh
    {% else %}
    Ran in background from {{ background_run[0][0] | render_datetime }} to {{ background_run[1][0] | render_datetime }}{% if background_run[1][1] and background_run[1][1] != background_run[0][1] %},
    stopped by {{ render_local_user(background_run[1][1]) }}
    {% endif %}
    {% endif %}
    (<a href="{{ url_for('batch_background_history', id=batch.id) }}">full history</a>).
    {% if currently_running and can_stop_background() %}
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input name="offset" type="hidden" value="{{ offset }}">
    <input name="limit" type="hidden" value="{{ limit }}">
    <button class="btn btn-danger btn-sm" formaction="{{ url_for('stop_batch_background', id=batch.id) }}">Stop</button>
    {% endif %}
  </p>
</form>
{% endif %}
<nav aria-label="command pages">
  <ul class="pagination">
    {% if offset > 0 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('batch', id=batch.id, offset=0, limit=limit) }}">First</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('batch', id=batch.id, offset=([0, offset-limit] | max), limit=limit) }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">First</span></li>
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% set command_records_length = batch.command_records | length %}
    {% if offset + limit < command_records_length %}
    <li class="page-item"><a class="page-link" href="{{ url_for('batch', id=batch.id, offset=offset+limit, limit=limit) }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('batch', id=batch.id, offset=((command_records_length-1) // limit) * limit, limit=limit) }}">Last</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    <li class="page-item disabled"><span class="page-link">Last</span></li>
    {% endif %}
  </ul>
</nav>
{% set command_records = batch.command_records.get_slice(offset, limit) %}
{% for command_record in command_records %}
<div>
  {{ render_command_record(command_record, batch.domain) }}
</div>
{% endfor %}
{% set can_run_command_records = can_run_commands(command_records) %}
{% set can_start_new_background = can_start_background() and not currently_running %}
{% if can_run_command_records or can_start_new_background %}
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input name="offset" type="hidden" value="{{ offset }}">
  <input name="limit" type="hidden" value="{{ limit }}">
  {% if can_start_new_background and offset == 0 %}{# common case: on the first page, we emphasize the background running and tuck the foreground run button away #}
  <div class="mt-2">
    <button class="btn btn-primary btn-lg" formaction="{{ url_for('start_batch_background', id=batch.id) }}">Run whole batch in background</button>
  </div>
  <div class="mt-2">
    <button class="btn btn-secondary" formaction="{{ url_for('run_batch_slice', id=batch.id) }}">Run these commands</button>
    {% if offset + limit < command_records_length %}{# new users often don’t notice that the rest of the batch isn’t run in this mode #}
    <span class="alert alert-warning">This will not run the other commands in the batch.</span>
    {% endif %}
  </div>
  {% else %}{# on pages other than the first one, put the foreground run first under the assumption that users care about this particular page; but to avoid confusing them, primary/secondary aren’t swapped (background is still primary)#}
  {% if can_run_command_records %}
  <div class="mt-2">
    <button class="btn btn-secondary" formaction="{{ url_for('run_batch_slice', id=batch.id) }}">Run these commands</button>
    {% if offset > 0 or offset + limit < command_records_length %}
    <span class="alert alert-warning">This will not run the other commands in the batch.</span>
    {% endif %}
  </div>
  {% endif %}
  {% if can_start_new_background %}
  <div class="mt-2">
    <button class="btn btn-primary" formaction="{{ url_for('start_batch_background', id=batch.id) }}">Run whole batch in background</button>
  </div>
  {% endif %}
  {% endif %}
</form>
{% endif %}
{% endblock %}
