{% extends "base.html" %}
{% block main %}
<h1>Batch #{{ batch.id }} by <a href="https://{{ batch.domain }}/wiki/Special:Redirect/user/{{ batch.local_user_id }}"><bdi>{{ batch.user_name }}</bdi></a></h1>
{% for command_record in batch.command_records[slice] %}
<div>
  {{ render_command_record(command_record, batch.domain) }}
</div>
{% endfor %}
{% if can_run_commands(batch.command_records[slice]) %}
<form method="post" action="{{ url_for('run_batch_slice', id=batch.id) }}">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input name="offset" type="hidden" value="{{ slice.start }}">
  <input name="limit" type="hidden" value="{{ slice.stop - slice.start }}">
  <button class="btn btn-primary">Run these commands</button>
</form>
{% endif %}
{% endblock %}
