{% extends "base.html" %}
{% block main %}
<h1>Batch #{{ batch.id }} by {{ render_batch_user(batch) }}</h1>
<p>
  Created {{ batch.created | render_datetime }},
  last updated {{ batch.last_updated | render_datetime }}.
</p>
<nav aria-label="command pages">
  <ul class="pagination">
    {% if offset > 0 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('batch', id=batch.id, offset=([0, offset-limit] | max), limit=limit) }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</a></li>
    {% endif %}
    {% if offset + limit < (batch.command_records | length) %}
    <li class="page-item"><a class="page-link" href="{{ url_for('batch', id=batch.id, offset=offset+limit, limit=limit) }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% set command_records = batch.command_records.get_slice(offset, limit) %}
{% for command_record in command_records %}
<div>
  {{ render_command_record(command_record, batch.domain) }}
</div>
{% endfor %}
{% if can_run_commands(command_records) %}
<form method="post" action="{{ url_for('run_batch_slice', id=batch.id) }}">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input name="offset" type="hidden" value="{{ offset }}">
  <input name="limit" type="hidden" value="{{ limit }}">
  <button class="btn btn-primary">Run these commands</button>
</form>
{% endif %}
{% endblock %}
