{% extends "base.html" %}
{% block title %}Export options for QuickCategories batch #{{ batch.id }}{% endblock %}
{% block main %}
<h1>Export options for <a href="{{ url_for('batch', id=batch.id) }}">batch #{{ batch.id }}</a></h1>
<ul>
  <li><a href="{{ url_for('batch_export_metadata', id=batch.id) }}">Metadata (JSON)</a></li>
  <li><a href="{{ url_for('batch_export_all_titles', id=batch.id) }}">Page titles (plain text)</a></li>
  <li>
    <form method="post" action="{{ url_for('batch_export_all_pagepile', id=batch.id) }}">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <button class="btn btn-link p-0 border-0">Create PagePile</button>
    </form>
  </li>
</ul>
{% endblock %}
