{% extends "base.html" %}
{% block main %}
<h1>QuickCategories</h1>
<h2 id="new-batch">New batch</h2>
<form method="post" action="batch" class="mb-3" aria-labelledby="new-batch">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="domain">Wiki domain</label>
    <input
      id="domain" class="form-control"
      name="domain" type="text"
      required pattern="[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org"
      autofocus
      list="domains"
      placeholder="commons.wikimedia.org">
    <datalist id="domains">
      <option value="commons.wikimedia.org">
      <option value="en.wikipedia.org">
      <option value="de.wikipedia.org">
      <option value="fr.wikipedia.org">
      <option value="es.wikipedia.org">
      <option value="ru.wikipedia.org">
      <option value="ja.wikipedia.org">
    </datalist>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      id="title" class="form-control"
      name="title" type="text"
      aria-describedby="titleHelp"
      maxlength="800"
      placeholder="based on Wikidata [[d:P:P1532|country for sport]]">
    <small id="titleHelp" class="form-text text-muted">
      Optional.
      Will be included in edit summaries.
      Only limited formatting support
      (see <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Help:Edit_summary" tabindex="-1">Help:Edit summary</a>).
    </small>
  </div>
  <div class="form-group">
    <label for="commands">Commands <small class="text-muted">(<a href="https://meta.wikimedia.org/wiki/User:Lucas_Werkmeister/QuickCategories#Submitting_batches">format help</a>)</small></label>
    <textarea
      id="commands" class="form-control"
      name="commands"
      rows="20"
      required
      placeholder="Commons:Sandbox|+Category:Test|-Category:Other test&#x0A;Other page|+Category:Sandbox"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" {% if not user_logged_in() %} disabled {% endif %}>Submit batch</button>
  {% if not user_logged_in() %}
  <span class="alert alert-warning">
    You need to <a href="{{ url_for('login') }}">log in</a> before you can submit batches.
  </span>
  {% endif %}
</form>
{% if batches %}
<h2 id="latest-batches">Latest batches</h2>
{% set batch_list_label = "latest-batches" %}
{% include "batch_list.html" %}
<a href="{{ url_for('batches') }}" class="btn btn-info">All batches</a>
{% endif %}
{% endblock %}
