{% extends "base.html" %}
{% block main %}
<h1>QuickCategories</h1>
<form method="post" action="batch">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="domain">Wiki domain</label>
    <input
      id="domain" class="form-control"
      name="domain" type="text"
      required pattern="[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org"
      placeholder="commons.wikimedia.org">
  </div>
  <div class="form-group">
    <label for="commands">Commands</label>
    <div id="commands-description" class="form-text text-muted">
      <p>
        Each line describes one command and is split into multiple fields at <kbd>|</kbd> or <kbd>Tab</kbd> characters.
        The first field of each line specifies the page on which to operate,
        the remaining fields list categories to add (<kbd>+</kbd>) or ermove (<kbd>-</kbd>) from that page.
      </p>
      <p>
        Categories to be added that are already present on the page,
        or categories to be removed that are not present on the page,
        are ignored:
        the commands describe the state into which the page should be brought,
        and if it is already in that state, that’s not an error.
      </p>
    </div>
    <textarea
      id="commands" class="form-control" aria-describedby="commands-description"
      name="commands"
      rows="20"
      required
      placeholder="Commons:Sandbox|+Category:Test|-Category:Other test&#x0A;Other page|+Category:Sandbox"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" {% if not user_logged_in() %} disabled {% endif %}>Start batch</button>
  {% if not user_logged_in() %}
  <span class="alert alert-warning">
    You need to <a href="{{ url_for('login') }}">log in</a> before you can submit batches.
  </span>
  {% endif %}
</form>
{% endblock %}
