{% extends "base.html" %}
{% block main %}
<h1>QuickCategories</h1>
<form method="post" action="batch" class="mb-3">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="domain">Wiki domain</label>
    <input
      id="domain" class="form-control"
      name="domain" type="text"
      required pattern="[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org"
      placeholder="commons.wikimedia.org">
  </div>
  <div class="form-group">
    <label for="commands">Commands</label>
    <div id="commands-description" class="form-text text-muted">
      <p>
        Each line describes one command and is split into multiple fields at <kbd>|</kbd> or <kbd>Tab</kbd> characters.
        The first field of each line specifies the page on which to operate,
        the remaining fields list categories to add (<kbd>+</kbd>) or remove (<kbd>-</kbd>) from that page.
      </p>
      <p>
        Categories to be added that are already present on the page,
        or categories to be removed that are not present on the page,
        are ignored:
        the commands describe the state into which the page should be brought,
        and if it is already in that state, that’s not an error.
      </p>
    </div>
    <textarea
      id="commands" class="form-control" aria-describedby="commands-description"
      name="commands"
      rows="20"
      required
      placeholder="Commons:Sandbox|+Category:Test|-Category:Other test&#x0A;Other page|+Category:Sandbox"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" {% if not user_logged_in() %} disabled {% endif %}>Submit batch</button>
  {% if not user_logged_in() %}
  <span class="alert alert-warning">
    You need to <a href="{{ url_for('login') }}">log in</a> before you can submit batches.
  </span>
  {% endif %}
</form>
{% if latest_batches %}
<h2>Latest batches</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">batch ID</th>
      <th scope="col">by</th>
      <th scope="col">created</th>
      <th scope="col">last updated</th>
    </tr>
  </thead>
  <tbody>
    {% for batch in latest_batches %}
    <tr>
      <th scope="row"><a href="{{ url_for('batch', id=batch.id) }}">{{ batch.id }}</a></th>
      <td>{{ render_batch_user(batch) }}</td>
      <td>{{ batch.created | render_datetime }}</td>
      <td>{{ batch.last_updated | render_datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
