<div class="form-group">
  <div class="form-check form-check-inline" title="If enabled, categorize the redirect target if the specified page is a redirect. Uncheck to categorize the redirect itself.">
    <input id="default-resolve-redirects" class="form-check-input" name="default_resolve_redirects" type="checkbox" checked>
    <label for="default-resolve-redirects" class="form-check-label">resolve redirects</label>
  </div>
  <div class="form-check form-check-inline" title="Enable to create the specified page if it does not exist yet. By default, a missing page is treated as an error.">
    <input id="default-create-missing-page" class="form-check-input" name="default_create_missing_page" type="checkbox">
    <label for="default-create-missing-page" class="form-check-label">create missing pages</label>
  </div>
</div>
