{% extends "base.html" %}
{% block title %}Preferences – QuickCategories{% endblock %}
{% block head %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/oojs/2.2.2/oojs.jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/oojs-ui/0.33.0/oojs-ui.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/oojs-ui/0.33.0/oojs-ui-wikimediaui.min.js"></script>
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/oojs-ui/0.33.0/oojs-ui-wikimediaui.min.css">
{% endblock %}
{% block main %}
<h1>Preferences</h1>
<noscript>
  <form method="post" action="{{ url_for('preferences') }}">
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="form-group">
      <label for="default-domain">Default wiki domain for new batches <small class="text-muted">(optional)</small></label>
      <input
        id="default-domain" class="form-control"
        name="default-domain" type="text"
        pattern="[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org"
        placeholder="commons.wikimedia.org"
        {% if default_domain %}value="{{ default_domain }}"{% endif %}>
    </div>
    <div class="form-group">
      <label for="suggested-domains">Suggested wiki domains for new batches <small class="text-muted">(optional)</small></label>
      <textarea
        id="suggested-domains" class="form-control"
        name="suggested-domains"
        rows="5"
        placeholder="commons.wikimedia.org&#x0A;en.wikipedia.org">{{ suggested_domains | join('\n') }}</textarea>
    </div>
    <div class="form-check">
      <input
        id="notifications" class="form-check-input"
        name="notifications" type="checkbox"
        {% if notifications %}checked{% endif %}>
      <label for="notifications">Show on-wiki notifications when logged in</label>
    </div>
    <button class="btn btn-primary">Update preferences</button>
  </form>
</noscript>
<script>
  if ((new URLSearchParams(document.location.search)).get('ooui') === '0') {
      const noscript = document.currentScript.previousElementSibling;
      document.currentScript.outerHTML = noscript.innerHTML;
  } else {
      document.currentScript.replaceWith(new OO.ui.FormLayout({
          items: [
              new OO.ui.HiddenInputWidget({
                  name: 'csrf_token',
                  value: '{{ csrf_token() }}',
              }),
              new OO.ui.FieldsetLayout({
                  items: [
                      new OO.ui.FieldLayout(
                          new OO.ui.TextInputWidget({
                              name: 'default-domain',
                              validate: /[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org/,
                              placeholder: 'commons.wikimedia.org',
                              {% if default_domain %}value: '{{ default_domain }}',{% endif %}
                          }),
                          {
                              label: 'Default wiki domain for new batches:',
                              align: 'top',
                          },
                      ),
                      new OO.ui.FieldLayout(
                          new OO.ui.MultilineTextInputWidget({
                              name: 'suggested-domains',
                              rows: 5,
                              validate: /(?:[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org(?:\n[a-z0-9-]+\.(?:wiki(?:pedia|media|books|data|news|quote|source|versity|voyage)|mediawiki|wiktionary)\.org)*)?/,
                              placeholder: 'commons.wikimedia.org\nen.wikipedia.org',
                              {% if suggested_domains %}value: "{{ suggested_domains | join('\\n') }}",{% endif %}
                          }),
                          {
                              label: 'Suggested wiki domains for new batches:',
                              align: 'top',
                          }
                      ),
                      new OO.ui.FieldLayout(
                          new OO.ui.CheckboxInputWidget({
                              name: 'notifications',
                              {% if notifications %}selected: true,{% endif %}
                          }),
                          {
                              label: 'Show on-wiki notifications when logged in',
                              align: 'inline',
                          }
                      ),
                  ],
              }),
              new OO.ui.ButtonInputWidget({
                  label: 'Update preferences',
                  type: 'submit',
              })
          ],
          action: "{{ url_for('preferences') }}",
          method: 'post',
      }).$element[0]);
  }
</script>
{% endblock %}
