{% extends "base.html" %}
{% block main_tag_attributes %}class="container-fluid mt-3 mb-3"{% endblock %}
{% block main %}
<h1>SQL query performance</h1>
<p class="lead">Since {{ since | render_datetime }} until {{ until | render_datetime }}.</p>
<h2 id="slowest_queries">Slowest queries</h2>
<table class="table" aria-labelledby="slowest_queries">
  <thead>
    <tr>
      <th scope="col">when</th>
      <th scope="col">duration</th>
      <th scope="col">SQL</th>
    </tr>
  </thead>
  <tbody>
    {% for datetime, duration, query in slowest_queries %}
    <tr>
      <td>{{ datetime | render_datetime }}</td>
      <td>{{ duration }}&nbsp;s</td>
      <td><pre>{{ query }}</pre></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2 id="query_summary">Query summary</h2>
<table class="table" aria-labelledby="query_summary">
  <thead>
    <tr>
      <th scope="col">count</th>
      <th scope="col">average</th>
      <th scope="col">minimum</th>
      <th scope="col">maximum</th>
      <th scope="col">sum</th>
      <th scope="col">SQL</th>
    </tr>
  </thead>
  <tbody>
    {% for query, stats in summary %}
    <tr>
      <td>{{ stats.count }}</td>
      <td>{{ stats.avg }}&nbsp;s</td>
      <td>{{ stats.min }}&nbsp;s</td>
      <td>{{ stats.max }}&nbsp;s</td>
      <td>{{ stats.sum }}&nbsp;s</td>
      <td><pre>{{ query }}</pre></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
